@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
}

/* shared style */
.common-button {
    background-color: white;
    border: 1px solid rgba(13, 19, 33, 0.8);
    border-radius: 8px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    padding: 12px 22px;
}

.common-button:hover {
    background-color: rgb(223, 220, 220);
    transition: 1s;
}

.common-text-style {
    color: rgb(33, 41, 60);
    font-size: 20px;
    line-height: 25px;
}

.common-bg-color {
    background-color: #fff;
}

.common-heading {
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: bolder;
    line-height: 35px;
    margin: 20px 0;
}

.common-link {
    color: rgb(13, 19, 33);
    font-size: 16px;
    line-height: 19px;
    padding-top: 50px;
    margin: 20px;

}

/* nav section style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 20px 150px;
}

nav h3 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: bolder;

}

/* banner section style */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    padding: 25px 220px 45px 220px;
    text-align: center;

}

.banner h1 {
    color: rgb(13, 19, 33);
    font-size: 45px;
    line-height: 65px;
}

.banner button {
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    font-size: 20px;
    border: none;
    margin: 20px 0px;
}

.banner button:hover {
    background-color: rgb(60, 65, 77);
    transition: 1s;
}

/* main section style */

.about-section {
    text-align: center;
    padding: 20px;
    background: rgba(7, 9, 15, 0.02);
    margin: 60px 150px;
}

.about-section p {
    margin: 50px;
}

.about {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 45px;
    padding: 45px;

}

.about p {
    margin: 20px 0px;
}

/* inspration section */

.inspiration-section {
    text-align: center;
    margin: 10px 148px;
}

.inspiration-section iframe {
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.1);
    border-radius: 10px;
    margin-top: 30px;
}

/* target section */

.target-section {
    text-align: center;
    margin: 70px 148px;
}

.target-description {
    margin-bottom: 45px;
}

.target {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 40px;
    gap: 15px;

}

.target-html {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}

.target-css {
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.target-js {
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/* Next target secction start */
.next-target-section {
    text-align: center;
    padding: 48px;
}

.next-target {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 40px;
    margin: 40px 148px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.next-target img {
    margin: 40px;
}

/* Contact section style */
.contact-section {
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background-image: url(../assets/handshake.jpg);
    background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2);
    margin: 50px 150px;
    padding: 50px 65px;
    text-align: center;
}

.contact-section h1 {
    color: white;
    font-size: 35px;
    line-height: 36px;
    padding-bottom: 30px;
}

.contact-section p {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    padding: 25px 220px 45px 220px;
    text-align: center;
    color: white;
    padding-bottom: 25px;

}

.contact-section input[type="text"] {
    width: 450px;
    height: 40px;
    padding: 10px;
}

.contact-section input[type="button"] {
    width: 80px;
    height: 50px;
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 20px;
}

/* footer section style */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    background-color: rgba(0, 76, 232, 0.05);
}

